# Jupyter notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints*
.ipynb_checkpoints/*
!*.ipynb

# Virtual environments
anaconda_projects/
.virtual_documents/
__pycache__/
*.pyc

# Data files (if large - discuss with team)
# data/  (uncomment if you DON'T want to share data)
# *.csv
# *.xlsx

# VS Code (if using)
.vscode/
*.code-workspace