# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints*

# VS Code
.vscode/
.virtual_documents/

# Anaconda
anaconda_projects/

# Python
__pycache__/
*.pyc

# Output folders (if you don't want to track them)
output/
raw_data/

# OS junk
.DS_Store
Thumbs.db
*.crdownload